# Build artifacts & Executables
build/
*.o
pro
a.out
pro_asan

# IDE & Configuration files (Locally grouped)
.idea/
cmake-build-*/
.config/

# Caches
.cache/

# Doxygen / Minimap files
minimap/html/
minimap/latex/
minimap/.vscode

# Local planning docs
docs/

